body{
    background-color: aqua;
    margin: 2em;
  
}

h1{
    background-color: #64ff64;
    width: 500px;
    padding: 50px;
    border: 5px solid gray;
	font-size: 50px;
    margin-left:500px;

}

p{
    margin-left:400px;
}

#something {
    position: absolute;
    height: 100px;
    width: 200px;
    top: 20%;
    left: 40%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }